.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: #efefef;
  padding: 20px 50px;
  border-top: 1px solid #999999;
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  position: relative;
  color: #2e363e;
}

.nav__notification {
  position: absolute;
  left: 15px;
  bottom: 15px;
}

.nav__dot {
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 30px;
  bottom: 30px;
}
